<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>

    <div id="root">
        <!-- HEADER -->
        <header>
            <h1>TO DO LIST</h1>
        </header>
        <!-- END HEADER -->

        <!-- MAIN -->
        <!-- Filters -->
        <div class="filters">
            <!-- Single Filter -->
            <div class="single-filter">
                <input @keyup.enter="newTodo" v-model="newTodoText" type="text" placeholder="New to do">
                <button @click="newTodo">Aggiungi</button>
            </div>
        </div>
        <!-- End Filters -->
        
        <!-- Todos -->
        <div class="todos">
            <ul v-if="todos.length > 0">
                <!-- Single Todo -->
                <li
                @mouseenter="changeBg(element)"
                @mouseleave="changeBg(element)"
                @click="toggleDone(index)"
                v-for="(element, index) in todos" 
                class="todo" 
                :class="{'done': element.done, 'active': element.isActive}"
                >
                    {{ element.text }}

                    <div class="todo-cross">
                        <i @click="deletTodo(index)" class="fas fa-times"></i>
                    </div>
                </li>
                
            </ul>

            <p v-else>Non hai niente da fare!</p>

        </div>
        <!-- End Todos -->
        <!-- END MAIN -->
    </div>

    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>