/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-boxs;
}

/* COMMON */
ul{
    list-style-type: none;
}

/* HEADER */
header h1{
    text-align: center;
    padding: 20px;
}

/* MAIN */
/* Filters */
.filters{
    text-align: center;
    margin-bottom: 20px;
}

.single-filter input{
    width: 300px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.single-filter button{
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

/* Todos */
.todos{
    width: 60%;
    margin: auto;
    background-color: lightgrey;
    border-radius: 5px;
    padding: 10px;
}

.todo{
    border-bottom: 1px solid gray;
    padding: 4px;
    cursor: pointer;
}

.todo-cross{
    float: right;
    cursor: pointer;
}

.done{
    text-decoration: line-through;
}

.todos li:hover{
    background-color: white;
}